html {
  background-color: #f6f6f6;
}


.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.btn-grad {
  padding: 15px 45px;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
  color: #d9d9d9;
}

trix-editor {
  min-height: 13em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


        
